*{
    margin: 0;
    padding: 0;
    border: 0;
    }
    
    body{
    font-family:'geomanist';
    background-color: #ddd;
    }
    
    
    
    
    
    
    .header{
    height: 20em;
    padding: 5em;
    background-image: url(../img/banner_foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    
    
    .header h1{
    margin: 0px;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    padding-top: 5%;
    }
    
    p{
        margin: 0px;
        font-weight: 300;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
    }
    
    
    
    .fotos{
    width: 80%;
    margin: auto;
    padding: 2.5rem 0;
    }
    
    
    .fotos td{
    width: 50%;
    padding: 2em;
    }
    
    
    .fotos img{
    width: 90%;
    border: solid 1px #ddd;
    
    }
    
    .fotos p{
    color: #000;
    font-size: 1rem;
    font-weight: medium;
    }
    
    .fotos .title{
    font-size: 2rem;
    color: red;
    
    }
    
    
    
    
    .footer{
    height: 3rem;
    padding: 2rem;
    line-height: 3rem;
    background-color: rgb(230, 41, 16);
    color: #fff;
    text-align: center;
    font-weight: 900;
    }
    
    